<!DOCTYPE html>
<html{% if page.locale is not empty %} lang="{{ page.locale }}"{% endif %}>
    <head>
        <meta charset="UTF-8">
        {{ include('@LyssalSeo/page/_head/default_tags.html.twig') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block content %}
                <h1>{{ appellation(page) }}</h1>
                {{ page.content|raw('html') }}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
